.Product{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.Product image-container{
    height: 200px;
    width: 350px;
    background: purple;
    margin-top:20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.Product text-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}